// 関数群
// ========================================

display(arg)
    if arg is 'box'
        display -webkit-box
        display box
    else
        display arguments

box-sizing()
    -webkit-box-sizing arguments
    box-sizing arguments

box-align()
    -webkit-box-align arguments
    box-align arguments

box-pack()
    -webkit-box-pack arguments
    box-pack arguments

box-orient()
    -webkit-box-orient arguments
    box-orient arguments

box-shadow()
    -webkit-box-shadow arguments
    box-shadow arguments

box-flex()
    -webkit-box-flex arguments
    box-flex arguments

border-radius()
    -webkit-border-radius arguments
    border-radius arguments

border-top-left-radius()
    -webkit-border-top-left-radius arguments
    border-top-left-radius arguments

border-top-right-radius()
    -webkit-border-top-right-radius arguments
    border-top-right-radius arguments

border-bottom-right-radius()
    -webkit-border-bottom-right-radius arguments
    border-bottom-right-radius arguments

border-bottom-left-radius()
    -webkit-border-bottom-left-radius arguments
    border-bottom-left-radius arguments

background-size()
    -webkit-background-size arguments
    background-size arguments

transform()
    -webkit-transform arguments
    transform arguments

transform-origin()
    -webkit-transform-origin arguments
    transform-origin arguments

transition()
    -webkit-transition arguments
    transition arguments

animation-name()
    -webkit-animation-name arguments
    animation-name arguments

animation-duration()
    -webkit-animation-duration arguments
    animation-duration arguments

animation-timing-function()
    -webkit-animation-timing-function arguments
    animation-timing-function arguments

animation-iteration-count()
    -webkit-animation-iteration-count arguments
    animation-iteration-count arguments

tap-highlight-color()
    -webkit-tap-highlight-color arguments
    tap-highlight-color arguments

touch-callout()
    -webkit-touch-callout arguments
    touch-callout arguments

user-select()
    -webkit-user-select arguments
    user-select arguments